<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-form-field class="w-100">
    <mat-label>Login</mat-label>
    <input matInput placeholder="min 6" formControlName="login">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Password</mat-label>
    <input matInput placeholder="min 6" formControlName="password">
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit"
          [disabled]="loginForm.invalid">{{dialogData.buttonText}}</button>
</form>
